.container {
  align-items: stretch;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 81%, 0.6);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.focused {
  border: 2px solid #fdd8d4;
  box-shadow: 0 10px 15px 0 hsla(0, 0%, 81%, 0.6);
}

.cta {
  align-items: center;
  background-color: #fdd8d4;
  display: flex;
  font-family: Raleway;
  font-size: 10px;
  font-weight: bold;
  height: 23px;
  justify-content: center;
  color: #222328;
}

.hidden {
  display: none;
}

.photoWrapper {
  align-items: center;
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
}

.photo {
  width: 50%;
}

.price {
  align-items: center;
  color: #222328;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: Times;
  font-size: 12px;
  font-style: italic;
  justify-content: center;
}
